# History files
.Rhistory
.Rapp.history
*.Rproj

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Files created by LaTeX and knitr
Master.pdf
*.synctex.gz
*.tex
*.log
*.aux
figure/*.pdf
